In [1]:
import pandas as pd

In [2]:
obj=pd.Series([1,2,3,4,4])

In [3]:
obj

0    1
1    2
2    3
3    4
4    4
dtype: int64

In [4]:
obj.values

array([1, 2, 3, 4, 4], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
obj

0    1
1    2
2    3
3    4
4    4
dtype: int64

In [9]:
obj=pd.Series([1,2,3,4,4],index=['A','B','C','D','E'])
obj

A    1
B    2
C    3
D    4
E    4
dtype: int64

In [12]:
Class_data=pd.Series([6562,6529,6505,6521],index=['Farhan','Daud','Minhal','Usama'],name='Section_A students')

In [13]:
Class_data

Farhan    6562
Daud      6529
Minhal    6505
Usama     6521
Name: Section_A students, dtype: int64

In [15]:
Class_data.values

array([6562, 6529, 6505, 6521], dtype=int64)

In [17]:
Class_data.index

Index(['Farhan', 'Daud', 'Minhal', 'Usama'], dtype='object')

# canteen data of 7 days that hold values of sandwitches sold in each day

In [18]:
canteen_data=pd.Series([10,30,100,20,40,50,80],index=['monday','tuesday','wednesday','thursday','friday','saturday','sunday'],name="Canteen data for earning")

In [19]:
canteen_data

monday        10
tuesday       30
wednesday    100
thursday      20
friday        40
saturday      50
sunday        80
Name: Canteen data for earning, dtype: int64

# How to access data from pandas series

In [29]:
canteen_data[1]

30

In [30]:
canteen_data[4]

40

In [31]:
#another way to get canteen data by using indexing number like below

In [32]:
canteen_data['sunday']

80

In [33]:
canteen_data['friday']

40

In [34]:
#for getting multiple values from series we use the code below:

In [36]:
canteen_data['monday']

10

In [37]:
canteen_data[3]

20

In [39]:
canteen_data[ [1,3 ] ]

tuesday     30
thursday    20
Name: Canteen data for earning, dtype: int64

In [40]:
canteen_data[canteen_data>20]

tuesday       30
wednesday    100
friday        40
saturday      50
sunday        80
Name: Canteen data for earning, dtype: int64