# Series in pandas

In [21]:
import pandas as pd

In [22]:
obj=pd.Series([4,7,-5,3])

In [23]:
obj #in the below result it will provide indexing by its own, on the other hand numpay is not provide this functionaity

0    4
1    7
2   -5
3    3
dtype: int64

In [24]:
Class_data=pd.Series([6562,6529,6505])

In [25]:
Class_data

0    6562
1    6529
2    6505
dtype: int64

In [28]:
#We can also change the indexing as we want 
Class_data=pd.Series([6562,6529,6505],index=['Farhan','Daud','Minhal Arshad'])

In [29]:
Class_data

Farhan           6562
Daud             6529
Minhal Arshad    6505
dtype: int64

In [30]:
#we can also print only values like 6562 6529 etc etc by using the below function

In [32]:
Class_data.values

array([6562, 6529, 6505], dtype=int64)

In [33]:
#we can also find only index by using the .index func as below

In [34]:
Class_data.index

Index(['Farhan', 'Daud', 'Minhal Arshad'], dtype='object')

In [35]:
#we can also use name method like below

In [37]:
Class_data=pd.Series([6562,6529,6505],index=['Farhan','Daud','Minhal Arshad'],name="BSSE students data")

In [38]:
Class_data

Farhan           6562
Daud             6529
Minhal Arshad    6505
Name: BSSE students data, dtype: int64

# Create a pandas series that hold values how many sandwiches are sold each day

In [49]:
Canteen_data=pd.Series([10,20,30,40,10,35,50],index=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'],name="7 Days Canteen Data")

In [50]:
Canteen_data

Monday       10
Tuesday      20
Wednesday    30
Thursday     40
Friday       10
Saturday     35
Sunday       50
Name: 7 Days Canteen Data, dtype: int64

# How to Access data from the above stored data in pandas series

In [51]:
#simply use Canteen_data[], in brackets we use the indexing number like 0 1 2 etc etc like below

In [52]:
Canteen_data[1]

20

In [53]:
#another way to access data in pandas by using indexing like i want to get tuesday canteen data

In [54]:
Canteen_data["Tuesday"]

20

In [55]:
#To get multiple values we use the below code

In [56]:
Canteen_data[[3,4,5,6]]

Thursday    40
Friday      10
Saturday    35
Sunday      50
Name: 7 Days Canteen Data, dtype: int64

In [58]:
Canteen_data[["Sunday","Monday"]]

Sunday    50
Monday    10
Name: 7 Days Canteen Data, dtype: int64

# We can Also select conditional data

In [59]:
Canteen_data[Canteen_data>20]

Wednesday    30
Thursday     40
Saturday     35
Sunday       50
Name: 7 Days Canteen Data, dtype: int64

In [60]:
Canteen_data[Canteen_data<40]

Monday       10
Tuesday      20
Wednesday    30
Friday       10
Saturday     35
Name: 7 Days Canteen Data, dtype: int64

In [61]:
Canteen_data[Canteen_data<=30]

Monday       10
Tuesday      20
Wednesday    30
Friday       10
Name: 7 Days Canteen Data, dtype: int64

In [69]:
Canteen_data[Canteen_data==30 ]

Wednesday    30
Name: 7 Days Canteen Data, dtype: int64

# Modifying canteen data by * or / with dif values

In [71]:
#origional values
Canteen_data

Monday       10
Tuesday      20
Wednesday    30
Thursday     40
Friday       10
Saturday     35
Sunday       50
Name: 7 Days Canteen Data, dtype: int64

In [76]:
#modifying values, but it doest not stor in origional values Canteen_data
Canteen_data * 2

Monday        40
Tuesday       80
Wednesday    120
Thursday     160
Friday        40
Saturday     140
Sunday       200
Name: 7 Days Canteen Data, dtype: int64

In [73]:
Canteen_data

Monday       10
Tuesday      20
Wednesday    30
Thursday     40
Friday       10
Saturday     35
Sunday       50
Name: 7 Days Canteen Data, dtype: int64

In [77]:
#this will permamentaly change and modify origional Canteen_data
Canteen_data=Canteen_data*2

In [78]:
Canteen_data

Monday        40
Tuesday       80
Wednesday    120
Thursday     160
Friday        40
Saturday     140
Sunday       200
Name: 7 Days Canteen Data, dtype: int64

# Make pandas series from numpy array data like below

In [80]:
import numpy as np

In [81]:
arr=([1,2,3,4,5,6,7])

In [83]:
ind=(['jan','feb','march','april','may','june','july'])

In [84]:
series=pd.Series(arr,index=ind)

In [85]:
series

jan      1
feb      2
march    3
april    4
may      5
june     6
july     7
dtype: int64