In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
data=pd.read_excel("GroupingData.xlsx",sheet_name=1)

In [6]:
data.columns=['ids', 'Name', 'Age', 'Designation', 'Grade ', 'Dept', 'Salary ']

In [13]:
grouped_data=data.groupby('Dept')

In [15]:
grouped_data

In [16]:
data

   ids     Name  Age Designation  Grade  Dept  Salary
0    1    Nasir   23     Officer      15  Acc   123000
1    2      Ali   34       Clerk      16  Fin   200000
2    3   Faisal   23     Officer      17   IT   200000
3    4    Imran   45       Clerk      18   IT   230000
4    5   Kashif   54     Manager      18  Acc   231000
5    6    Saima   43     Manager      18  Fin   300000
6    7    Aqsa    32  Supervisor      17   IT   234000
7    8    Zoya    23     Manager      17   IT   250000
8    9    Salma   22     Manager      17  Fin   231000
9   10   Faheem   56     Officer      16   IT   100000

# group by multiple columns

In [19]:
data.groupby(['Designation','Grade'])

KeyError: 'Grade'